<div class="page-wrapper">
	<div class="container mx-auto">
		<div class="row">
			<h2 class="mb-3">Trang Quản trị</h2>
			<div class=" col-12 col-md-3">
				<div class="card" style="display:flex;">
					<a asp-action="Index" asp-controller="DanhMuc" style="text-decoration: none; color: inherit;">
						<div class="col">
							<img style="height:200px; width:100%;" src="~/image/danhmuc.png" alt />
						</div>
						<div class="col mt-4">

							<p style="text-align:center; margin-top:20px;"><b>Danh mục</b></p>
							<p style="text-align:center; margin-top:20px;"><b>6</b></p>

						</div>
					</a>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="card" style="display:flex;">
					<a asp-action="Index" asp-controller="HoaDon" style="text-decoration: none; color: inherit;">
						<div class="col">
							<img style="height:200px;width:100%;" src="~/admin/images/gallery/04.png" alt />
						</div>
						<div class="col mt-4">

							<p style="text-align:center; margin-top:20px;"><b>Đơn hàng</b></p>
							<p style="text-align:center; margin-top:20px;"><b>6</b></p>

						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-md-3">
				<div class="card" style="display:flex;">
					<a asp-action="Index" asp-controller="KhachHang" style="text-decoration: none; color: inherit;">
						<div class="col">
							<img style="height:200px; width:100%;"
								 src="~/admin/images/icons/user-interface.png" alt />
						</div>
						<div class="col mt-4">

							<p style="text-align:center; margin-top:20px;">
								<b>
									Thành
									viên
								</b>
							</p>
							<p style="text-align:center; margin-top:20px;"><b>6</b></p>

						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-md-3">
				<div class="card" style="display:flex;">
					<a asp-action="Index" asp-controller="MonAn" style="text-decoration: none; color: inherit;">
						<div class="col">
							<img style="height:200px; width:100%;" src="~/image/monan.png" alt />
						</div>
						<div class="col mt-4">

							<p style="text-align:center; margin-top:20px;">
								<b>
									Món
									ăn
								</b>
							</p>
							<p style="text-align:center; margin-top:20px;"><b>6</b></p>

						</div>
					</a>
				</div>
			</div>

		</div>
	</div>

</div>