<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Food</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/client/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/client/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/client/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/client/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/client/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/client/css/style.css" />



</head>
<body>
	<!-- HEADER -->
	@Html.Partial("_HeaderPartial")	
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	@RenderBody()
	<!-- /SECTION -->
	<!-- FOOTER -->
	@Html.Partial("_Footer")
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="~/client/js/jquery.min.js"></script>
	<script src="~/client/js/bootstrap.min.js"></script>
	<script src="~/client/js/slick.min.js"></script>
	<script src="~/client/js/nouislider.min.js"></script>
	<script src="~/client/js/jquery.zoom.min.js"></script>
	<script src="~/client/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


	<!-- Template Javascript -->
	<script src="~/client/js/main.js"></script>
	<script src="~/client/js/giohang.js"></script>
	@await Component.InvokeAsync("Notyf")

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
