<li class="menu-item">
    <form asp-action="TimKiem" asp-controller="Home">
        <div class="input-group w-100 mx-auto d-flex mb-4">
            <input type="search" class="form-control p-3" placeholder="Tìm kiếm" aria-describedby="search-icon-1" name="query">
            <button id="search-icon-1" class="input-group-text p-3" fdprocessedid="l1mplt"><i class="fa fa-search"></i></button>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="1">
    </form>
</li>
