@model IEnumerable<MonAnModel>
<!-- BREADCRUMB -->
@Html.Partial("_SiderPartial")
@Html.Partial("_Navigation")
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Danh mục</h3>
					<div class="checkbox-filter">

						<vc:tat-ca-danh-mucs></vc:tat-ca-danh-mucs>


					</div>
				</div>
				<!-- /aside Widget -->
				<!-- aside Widget -->
				<vc:mon-an-ban-chay></vc:mon-an-ban-chay>
			</div>
			<!-- /ASIDE -->
			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<!-- store products -->
				<div class="row">
					<!-- product -->
					@Html.Partial("_DSMonAn")







				</div>
				<!-- /store products -->


			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>